body{
    background-image: url(ott.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.a{
    position: relative; 
    left: 23%;
}
.aa{
    position: relative; 
    left: -27%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.aaa{
    position: relative; 
    left: -27%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.aaaa{
    position: relative; 
    left: 31.8%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.aaaaa{
    position: relative; 
    left: 31.8%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.b{
    position: relative; 
    left: 31.8%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.b{
    position: absolute;
    bottom: -2%;
}
.bb{
    display: inline-block;
    padding: 10px 20px;
    font-size: 31px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
